*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.top{
    vertical-align: middle;
    height: 70px;
    width: 100%;
    background-color:#0f2438;
    display: flex;
    justify-content: center;

}
.menuTop    {
    display: flex;
    width: 175px;
    padding: 20px;
    
}
.menuTop hr{
    margin-left: 20px;
    transform: rotate(180deg);
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: 10px;
}
.menutop .topPhai{
    width: 150px;
    
}
.menutop .toptrai{
    width: 40px;
    
}
.menuTop .topPhai p{
    color: rgb(200, 208, 214);
}     
.menuTop .toptrai i{
    font-size: 30px;
    margin-top: 4px;
    margin-right: 5px;
    margin-left: 30px;
    color: rgb(34, 210, 102); 
}
.frinance{
    justify-content: center;
    width: 190px;
    display: flex;
    background-color: #2a4f6f;
    font-size: 20px ;
    margin-right: 90px;
    color: rgb(242, 236, 230);
}
.frinance b{
    line-height: 7px;
}
.frinance :hover {
    padding: 10px;
    width: 190px;
    display: flex;
    background-color: #e0e4e8;
    font-size: 20px ;
    color: rgb(14, 13, 11);
    transition: 0.7s;
}
.frinance i{
    margin-top: 12px;
    margin-left: 10px;
}

/* #nav{
    background-color: black;
    height: 70px;
    word-spacing: -4px;
    letter-spacing: -4px;
}
#nav li{
    background-color: green;
    display: inline-block;
    border: 1px solid white;
    word-spacing: normal;
    letter-spacing: normal;

}
#nav li a{
    line-height: 70px;
    font-size: 18px;
    padding: 10px;
    color: aliceblue;
    
}
#nav li:hover{
    background-color: white;
}
#nav li:hover a{
    color: black;
} */
.top2{
    background-color: rgb(233, 226, 226);
    height: 40px;
    width: 100%;
    letter-spacing: -1px;
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: segoe ui light;

}
.top2 li{
    width:auto ;
    display: inline-block;
    padding: 8px;
    
}
.top2 li a{
    color: rgb(32, 32, 32);
}
.top2 hr{
    margin-left: 20px;
    transform: rotate(180deg);
}
ul.top2 a {
    text-decoration: none;
} 
.top2 li .trong{
    width: 80px;
    margin-left: 150px;
    
}
.top2 :hover a{
    color: rgb(121, 194, 233);
}
.banner{
    display: flex;
    width: 600px;
    margin-left: 150px;
    margin-top: 40px;
    height: 120px;
    font-family: segoe ui light;
}
.banner .bntrai{
    width: 250px;
}
.banner .bnphai a{
    text-decoration: none;
    padding: 5px;
}
.banner .bnphai hr{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}
.bnphai  a:hover {
    color: aqua;
}
/*---------------- menu số 2----------------- */
.menuplus{
    width: 100%;
    height: 60px;
    background-color: #0f2438;;
    justify-content: center;
}
.menuplus > ul{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.menuplus >ul >li{
    display: inline-block;
}
.menu{
    padding: 10px;
    font-family: 'Helvetica Neue', sans-serif !important;
    position: relative;
    line-height: 40px;
    font-size: 20px;
}
.menu .menutren{
    text-decoration: none;
    list-style: none;
    color: #e0e4e8;
}
.menu:hover .menutren{
    height: 60px;
    background-color: #dde3e8;
    padding: 19px;
   color: rgb(25, 22, 123);
}
.menu .menuduoi{
    position: absolute;
    top: 60px;
    visibility: hidden;
    opacity: 0;
}
.menu:hover .menuduoi{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    z-index: 99;
}
.menu .menuduoi ul{
    list-style: none;

}
.menu .menuduoi ul li{
    border-bottom: 1px solid rgb(157, 155, 155);
}
.menu .menuduoi ul a{
    font-size: 15px;
    font-family: segoe ui light;
    background-color: #e3e5e8;
    text-decoration: none;
    text-align: center;
    display: block;
    width:200px ;
    padding: 5px 10px;
    color: #0f4a83;;
}
.menu .menuduoi ul a:hover{
    color: #69a7e5;
}

/* -----------------menu3--------------- */
.menu3{
    height: 40px;
    background-color: #e0e4e8;
    justify-content: center;
}
.menu3 ul{

    list-style: none;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.menu3 ul li{
    font-family: 'Helvetica Neue', sans-serif !important;;
    text-decoration: none;
    display: inline;
    padding: 0px 10px;
}
.menu3 ul li a:hover{
    color: #317bc0;
}
.menu3 ul li a{
    text-decoration: none;  
    color: black;
    font-family: 'Helvetica Neue', sans-serif !important;
    position: relative;
    line-height: 40px;
    font-size: 17px;
}
/* nội dung trang web article */
.background{
    width: 100%;
    height: 4200px;
    border:1px solid gray;
    background-image:url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.background .content{
    background-color: #e3e5e8;
    height: 4000px;
    width:80% ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}
/* dòng màu xanh */
.background .content .dongxanh{
    height: 50px;
    display: flex;
    background-color: rgb(94, 224, 109);
    width: 100%;
    justify-content: center;
}
.background .content .dongxanh .imgLG{
    margin-top: 10px;
    margin-right: 5px;
}
.background .content .dongxanh .h3{
    margin-top: 8px;
}
.background .content .dongxanh h3{
    font-size: 23px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    color: #edf2f7;
}
/* -----------content1--------------- */
.background .content .content1{
    margin-top: 10px;
    display: flex;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 1500px;
}
.background .content .content1 .ct1_left{
    height: 100%;
    width: 46%;
    margin-right: 2%;
    margin-top: 25px;
}
.background .content .content1 .ct1_left img{
    width: 100%;
    height: 60%;
}
.background .content .content1 .ct1_left .ct1_left_bottom{
    margin-top:25px;
    display: flex;
}
 .ct1_left .ct1_left_bottom .ct1_left_a1{
    margin-left: 4%;
    width: 100%
}
.background .content .content1 .ct1_left .ct1_left_bottom .a1{
    margin-left: 4%;
}
.background .content .content1 .ct1_left .ct1_left_bottom img{
    width: 48%;

}
.background .content .content1 .ct1_left .ct1_left_top{}
.background .content .content1 .ct1_mid{
    width: 24%;
}
.background .content .content1 .ct1_mid img{
    margin-top: 25px;
    height: 250px;
    width: 100%;
}
 .ct1_right #userName{
    width: 100%;
    height: 25px;
}
.background .content .content1 .ct1_right{
    margin-top: 25px;
    width: 26%;
    margin-left: 2%;
    
}
 .ct1_right .ct1_right_t {
    width: 100%;
}
