<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/view.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <i class="fa-solid fa-bars"></i>
                <h1 class="title-menu-nav">Danh mục sản phẩm</h1>
            </div>
            <div class="menu-box">
                <div class="pure-menu">
                    <ul class="main-menu">
                        <li class="option-menu">
                            <a href="#" class="option">Điện máy</a>
                            <div class="menu-2">
                                <ul class="list-option-2">
                                    <li class="option"><a href="#">Ti vi</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="option-menu">
                            <a href="#" class="option">Đồ gia dụng</a>
                        </li>
                        <li class="option-menu">
                            <a href="#" class="option">Công cụ và dụng cụ</a>
                        </li>
                        <li class="option-menu">
                            <a href="#" class="option">Y tế & sức khỏe</a>
                        </li>
                        <li class="option-menu">
                            <a href="#" class="option">Thể thao & ngoài trời</a>
                        </li>
                        <li class="option-menu">
                            <a href="#" class="option">Thiết bị văn phòng</a>
                        </li>
                        <li class="option-menu">
                            <a href="#" class="option">Thiết bị số, Phụ kiện</a>
                        </li>
                        <li class="option-menu">
                            <a href="#" class="option">Thiết bị công nghiệp</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>